<footer>
    <div class="container">
        <div class="columns">
            <div class="column">
                <strong>PaperWitch</strong><span class="has-text-grey-light"> © 2023 - 2026</span>
                <p class="has-text-grey is-size-8">Resumes with Attitude.</p>
            </div>
            <div class="column">
                <p><a data-section="policy">Privacy Policy</a></p>
                <p><a data-section="policy">Terms of Service</a></p>
            </div>
            <div class="column">
                <p><a data-section="policy">Legal Notice</a></p>
                <p><a href="#contact">Contact</a></p>
            </div>
        </div>
    </div>
</footer>