<footer>
    <div class="container">
        <div class="columns">
            <div class="column">
                <strong>PaperWitch</strong>
                <p class="has-text-grey">Resumes with Attitude.</p>
            </div>
            <div class="column">
                <p><a href="index.php">Home</a></p>
                <p><a href="#privacy">Privacy Policy</a></p>
                <p><a href="#terms">Terms of Service</a></p>
            </div>
            <div class="column">
                <p><a href="#terms">Legal Notice</a></p>
                <p><a href="#contact">Contact</a></p>
            </div>
        </div>
        <p class="has-text-grey-light">PaperWitch © 2025 </p>
    </div>
</footer>