<section id="policy" class="hidden">
    <div class="content is-normal" style="border-radius:10px; padding:2rem; background:rgba(31, 38, 135, 0.27); color:var(--bg-window); width:50em; text-align:left; margin-bottom:5em;">
        <h1>Privacybeleid en veiligheid</h1>
        <p>Dit privacybeleid legt uit hoe we uw persoonlijke gegevens verzamelen, 
            gebruiken en beschermen in overeenstemming met de Algemene Verordening Gegevensbescherming (AVG).
            Lees ons privacybeleid en algemene voorwaarden voordat u gebruik maakt van onze service (CV Templater).
        </p>

        <div>
            <h3>Algemene Voorwaarden</h3>
            <p>Door gebruik te maken van onze diensten gaat u akkoord met de verwerking van de door u verstrekte gegevens.
                Als u onze dienst (CV Templater) wenst te gebruiken, dan heeft u een account en internet verbinding nodig. Ook bent u minimaal 16 jaar, of
                u heeft goedkeuring van uw ouders of wettelijke voogd.</p>

            <h2>Privacybeleid</h2>
            <h3>1. Informatie die we verzamelen</h3>
            <p>Wij verzamelen de volgende persoonlijke gegevens via onze website wanneer u zich registreert.</p>
            <ul>
                <li>Voornaam</li>
                <li>Achternaam</li>
                <li>Nationaliteit</li>
                <li>Geboortedatum</li>
                <li>Telefoonnummer</li>
                <li>Postcode en Woonplaats</li>
                <li>Emailadres</li>
            </ul>

            <h3>2. Hoe we deze informatie gebruiken</h3>
            <p>Wij gebruiken uw persoonlijke gegevens voor de volgende doeleinden.</p>
            <ul>
                <li>Om onze dienst (CV Templater) aan u beschikbaar te stellen</li>
                <li>Om uw account te kunnen laten beheren door uzelf</li>
                <li>Om uw account te voorzien van de juiste rechten</li>
                <li>Om onze website functionaliteit te verbeteren</li>
            </ul>

            <h3>3. Juridische Grondslag voor Verwerking</h3>
            <p>We verwerken uw persoonlijke gegevens op basis van de volgende juridische gronden.</p>
            <ul>
                <li>Door deze te verstrekken, stemt u in met de verwerking comform onze doeleinden.</li>
                <li>Verwerking is noodzakelijk voor onze gerechtvaardigde belangen, zoals het verbeteren van onze diensten en het waarborgen van de veiligheid van onze website.</li>
            </ul>

            <h3>4. Gegevensbeveiliging</h3>
            <p>We nemen de veiligheid van uw persoonlijke gegevens serieus en implementeren 
                passende technische beveiligingsmaatregelen om deze te beschermen tegen ongeautoriseerd toegang, 
                het wijzigen, vernietigen of diefstal door kwaadwillenden. Deze maatregelen omvatten:
            </p>
            <ul>
                <li>Beveiligde servers bij onze webhosting aanbieder</li>
                <li>Versleutelde verbindingen (HTTPS/SSL)</li>
                <li>Periodieke beveiligingsaudits</li>
                <li>Encryptie van wachtwoorden</li>
                <li>Sterk wachtwoordbeleid</li>
            </ul>

            <h3>5. Gegevensbewaring</h3>
            <p>We bewaren uw persoonlijke gegevens zo lang als nodig is om onze in deze privacybeleid beschreven doeleinden te vervullen, 
                of zoals wettelijk vereist. Wanneer deze gegevens niet langer nodig zijn, bijvoorbeeld wanneer u besluit uw account te sluiten,
                zullen wij deze in hun volledigheid verwijderen uit ons systeem. Deze kunnen dan ook niet meer worden opgevraagd.
            </p>

            <h3>6. Wijzigingen in dit Privacybeleid</h3>
            <p>Wij kunnen dit privacybeleid van tijd tot tijd aanpassen. 
                We zullen u op de hoogte stellen van eventuele wijzigingen door het nieuwe privacybeleid op onze website te plaatsen. 
                Daarom raden wij u ook aan om dit privacybeleid periodiek door te nemen, want het is ook niet lang om te lezen.
            </p>
            <p>Als u vragen heeft over ons privacybeleid, neem dan contact op via onze contact pagina.</p>
        </div>
    </div>
</section>