<section class="hidden" id="closure">
    <h1 class="title is-size-2 has-text-grey-light has-text-centered animate__animated animate__fadeInDown" style="margin-top: 3rem;">
        ✨ By closing your account, we assume you can take it from here ✨
    </h1>

    <p class="subtitle is-size-5 has-text-centered animate__animated animate__fadeIn animate__delay-1s" style="max-width: 36rem; margin: 1rem auto 2.5rem auto; line-height: 1.8;">
        Goodbye, and best of luck in your career journey. 
        But know:
        • Your account, saved resumes and information will be erased.
        • You won't be able to recover your account later.
        • This action will be irreversible.✨
    </p>
</section>