<section class="hidden" id="closure">
    <h1 class="title is-size-2 has-text-grey-light has-text-centered animate__animated animate__fadeInDown" style="margin-top: 3rem;">
        ✨ By closing your account, we assume you don't need us anymore ✨
    </h1>

    <p class="subtitle is-size-5 animate__animated animate__fadeIn animate__delay-1s" style="max-width: 36rem; margin: 1rem auto 2.5rem auto; line-height: 1.8;">
        Goodbye, and best of luck in your career prospects.
        • Your account, resumes and your information will be erased.
        • You won't be able to recover your account later.
        • This action is irreversible.✨
    </p>
</section>