#home {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    overflow-x: hidden; 
}
#home .grid-container {
    position:absolute;
    margin-top:10rem;
    grid-gap: 5px 20rem;
    z-index:2;
}
.resume-container {
    position: relative;
    width: 300px;
    height: 400px;
}
.grid-container { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);   
}
.grid-container .box {
    margin:20px;
    transform: skewX(-2deg);
}
.sheet { 
    max-width:50em; 
    text-align:left; 
}
.sheet .box {border-radius: 8px;}
.box { 
    padding: 20px; 
    background:rgba(255, 255, 255, 0.944);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.box ul li { text-align: left;}
.box:nth-child(1), .box:nth-child(4) { background:none; border: 2px dotted rgba(0,0,0,0.3); } /* opacity:0; */
.box:nth-child(2), .box:nth-child(3) { animation: fadeIn 1s; }

.shape {
    position: absolute;
    transform: rotateX(30deg) rotateY(30deg);
    z-index: 2;
}
.paper {
    width: 200px;
    height: 350px;
    background-color: #dfe9ef;
    z-index: 0;
}
.paper-edge-top {
    width: 200px;
    height: 10px;
    top:-9px;
    left:5px;
    background-color: rgb(197, 201, 211);
    position: absolute;
    transform: rotateX(45deg) skewX(-45deg);
    z-index: 1;
}
.paper-edge-side {
    width: 10px;
    height: 495px;
    top:-76px;
    left:200px;
    background-color: rgb(197, 201, 211);
    position: absolute;
    transform: rotateX(45deg) skewY(-50deg);
    z-index: 1;
}
.circle {
    top: 40px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: moveCircle 5s infinite ease-in-out;
}
.skills {
    top: 120px;
    left: 15px;
    width: 45px;
    height: 190px;
    background-color: #3c4ae7;
    animation: moveSkills 4s infinite ease-in-out;
}
.line {
    height: 2px;
    background-color: #2c3e50;
}
.paragraph-1, .paragraph-2, .paragraph-3 {
    animation: diveLine 4s infinite ease-in-out;
}
.paragraph-4 {
    animation: moveLine 4s infinite ease-in-out;
}
@keyframes moveCircle {
    0% { transform: translateX(0) rotateX(30deg) rotateY(30deg); }
    25% { transform: translateX(30px) rotateX(30deg) rotateY(30deg); }
    50% { transform: translateX(0) rotateX(30deg) rotateY(30deg); }
    75% { transform: translateY(30px) rotateX(30deg) rotateY(30deg); }
    100% { transform: translateY(0) rotateX(30deg) rotateY(30deg); }
}
@keyframes moveSkills {
    0% { transform: translateX(0) rotateX(30deg) rotateY(30deg); }
    50% { transform: translateX(125px) translateY(35px) rotateX(30deg) rotateY(30deg); }
    100% { transform: translateX(0) rotateX(30deg) rotateY(30deg); }
}
@keyframes moveLine {
    0% { transform: translateX(0); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(0); }
}
@keyframes diveLine {
    0% { transform: translateY(0); }
    25% { transform: translateY(180px); }
    50% { transform: translateX(-80px) translateY(160px); }
    75% { transform: translateX(0); }
    100% { transform: translateY(0); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.grid-ad-container > .ads {
    min-height:90px;
}
.ads { border: 2px dotted rgba(0,0,0,0.3); }

/* Desktop */
@media (min-width: 800px) {
    .grid-ad-container {
        display: grid;
        grid-template-columns: auto 1fr auto; /* repeat(1fr auto 1fr); sets ads above and below content */
        gap: 10px;   
    } 
    .grid-ad-container > .ads {
        width:160px;
    }
}

/* Mobile Devices */
@media (max-width: 768px) {
    .grid-container { grid-template-columns: 1fr; }
    .box:nth-child(1) {padding-bottom:8rem;}
}