/* *, *::before, *::after {
    box-sizing: border-box;
} */
html, body {
    overflow-x: hidden;  /* Prevents horizontal shifts */
    position: relative;  /* Ensures navbar positioning doesn't get reset */
}

/* Custom Modifiers */
:root {
    --def-bg:#a7b5e4;
    --def-style:#333;
    --def-styleII:#555;
    --default:#007bff;
    --edit:rgb(181, 129, 25);
    --edit-hover:rgb(62,149,163);
    --trash:rgb(147, 38, 38);
    --trash-hover:rgb(169, 47, 59);
    --bg-window:rgba(0,0,0,0.8);
}
.hero-body {
    background: linear-gradient(to bottom, #333 0%, #222 100%); 
    margin-top:3rem; 
    transform: skewY(-2deg);
}
input::placeholder {
    color:var(--def-style) !important;
}

/* Default Style */
/* h1 { font-size:32px;} */
.hidden {display:none;}
body {
    /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: var(--def-bg);
    /* color: var(--def-style); */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--def-style);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer {
    text-align: center;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: azure;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover, nav a.current {background-color: var(--def-styleII);}
nav a.current { cursor: default; }
a[data-section="sign_up"] { background:#04AA6D; }
a[data-section="login"] {border: 2px solid #dfdfdf;} /* #44d884 */
#logo img {height: 7rem;}

/* Diagonal Styles */
.skew {
    width:0;
    height:0;
    border-right: 100vw solid var(--def-style);
    border-bottom: 3.9vw solid transparent;
}
.glass {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* .divider {
    border: none;       
    height: 1px;        
    background-color: #ccc; 
    margin: 20px 0;    
} */

/* Login Window */
.form-window {
    position:relative;
    padding:20px;
    color:azure;
    display: flex; 
    flex-direction: column; 
    max-width: 30rem;
    min-width:21rem;
    margin:10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color:var(--bg-window);
}

/* Sign up Wizard */
.wizard-info {
    margin-bottom:20px;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#334155;
}
.wizard-info .step {
    width:100%;
    cursor:default;
    padding:5px;
    text-align:center;
} 
/* .tab {
    display: flex;
    justify-content: space-around; 
    align-items: left;
    flex-wrap: wrap; 
    margin:10px 0 10px 0;
    gap: 10px; 
} */
/* .workinfo {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    text-align:left; 
} */
.accordion {
    /* background-color: #333; */
    /* color:azure; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: background-color 0.6s ease;
    
    border-radius: 10px;
    
    background-color:var(--bg-window);
}
/* .accordion:hover, .active {
    background-color: #4e4e4e;
} */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#prevBtn { float:right; margin-right:10px;}
#nextBtn { color:azure;}
.rotator {
  width:100%;
  display: flex;
  justify-content: space-between;
}
input.invalid {
    border: 2px solid red;
}
.step.active {
    opacity: 1;
}
.step.finish {
    background-color: #04AA6D;
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 10px 2px rgba(0, 255, 135, 1);
    animation: pulse 1s alternate infinite;
}
/* @keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 5px 2px rgba(0, 255, 135, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 15px 2px rgba(0, 255, 135, 1);
    }
} */

/* Default Style */
form {
    margin-top:10px; 
    text-align: left;
    align-items: left; 
}
form label {
    display: block;
    margin-bottom: 4px; 
    text-align: left; 
} 
form input[type="text"], input[type="email"], input[type="password"], textarea {
    margin: 0 0 20px;
    padding: 0.6em;
    font-size: 1em;
    width: 100%;
    background:rgb(235, 235, 235);
    color:black;
    border-radius: 1px solid black;
}
form select {
    padding: 0.6em;
    /* font-size: 0.9em; */
}
form input[type="checkbox"] {
    margin: 0 0 20px; 
    cursor: pointer;
}

/* .return {
    display:flex; 
    margin-bottom:-20px;
    padding:0.4em;
    font-size: 0.8em;
} */
.toggle-eye > i {
    position:absolute;
    margin-top:8px;
    margin-left:-35px;
    font-size:1.4em;
    cursor:pointer;
    color:black;
}

select {
    /* padding: 0.6em;    */
    /* border: 1px solid #ccc;  */
    /* border-radius: 4px;    */
    /* background-color: white; */
    /* font-size: 1em;           */
    margin-bottom:20px;
    cursor: pointer;   
} 
.day-select, .month-select, .year-select {
    width:4.3rem;height:2.5rem;
}
.error-msg { 
    position:absolute;
    display:none;
    color:red;
    font-size:12px;
    margin: -15px 0 10px ;
    cursor:default;
}
#terms.invalid {
    outline: 2px solid red;  
}

/* Account Screen */
.account-section-divider {
    margin:20px 0 10px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.495); /* Adjust color and thickness as needed */
}
input[type="file"] {
    margin-bottom:20px;
}
input[type="file"]::file-selector-button {
    opacity:0;
    width:0;
    margin-top:4rem;
}
.avatar {
    width: 150px;
    height: 150px;
    background-color: gray; /* Placeholder color */
    border-radius: 50%; /* Creates a round shape */
    border:none;
}
.avatar:hover {
    background-color: #04AA6D;
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 10px 2px rgba(0, 255, 135, 1);
    cursor:pointer;
    /* animation: pulse 1s alternate infinite; */
}

/* .sheet { 
    max-width:50em; 
}
.sheet .box {border-radius: 8px;} */
/* .grid-ad-container > .ads {
    min-height:90px;
}
.ads { border: 2px solid rgba(0,0,0,0.3); } */
/* Desktop */
/* @media (min-width: 800px) {
    .grid-ad-container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 10px;   
    }
    .grid-ad-container > .ads {
        width:160px;
    }
} */

/* Mobile Devices */
@media only screen and (max-width: 400px) {
    .skew { display:none; }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    #logo { display:none; }
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: space-around;
        background-color: var(--def-style);
        padding: 10px 0;
        z-index:1;
    }
    nav a {
        padding: 15px 20px;
        margin: 2px;
        background-color: #444;
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
        flex: 1;
        text-align: center;
        border-radius:0;
        min-width:5.9rem;
    }
    nav a:focus {background-color: #367885;}
    a[data-section="login"] {border:none;}
    a[data-section="sign_up"] {
        background:#444; 
        border-bottom: 2px solid #04AA6D; 
        border-top: 2px solid #04AA6D;
    } 
    footer {margin-bottom:9em;}
}