*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a7b5e4;
    color: #333;
}
footer {text-align: center;}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
}
.logo img {height: 7rem;}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover, nav a.current {background-color: #555;}
nav a.current { cursor: default; }
a[data-section="login"] {border: 2px solid #f3f3f3;} /* #44d884 */
/* a[data-section="home"] {display:none;} */

.hidden { display: none; }
.skew {
    width:0;
    height:0;
    border-right: 100vw solid #333;
    border-bottom: 3.9vw solid transparent;
}
.divider {
    border: none;       
    height: 1px;        
    background-color: #ccc; 
    margin: 20px 0;    
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:10px;
}

/* Sign up Wizard */
.wizard-info {
    margin-bottom:20px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#ababab;
}
.wizard-info .step {
    width:100%;
    cursor:default;
}
.tab {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
    margin:10px 0 10px 0;
    gap: 10px; 
}
.input-group {
    flex: 1 0 60px; 
    max-width: 100%; 
    text-align: center; 
}
#prevBtn, #nextBtn { width:100%;}
#nextBtn { float:right; }
.rotator {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}
input.invalid {
    background-color: #ffdddd;
}
.step.active {
    opacity: 1;
}
.step.finish {
    background-color: #04AA6D;
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 10px 2px rgba(0, 255, 135, 1);
    animation: pulse 1s alternate infinite;
}
@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 5px 2px rgba(0, 255, 135, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 15px 2px rgba(0, 255, 135, 1);
    }
}

/* Login Window */
.form-window {
    position:relative;
    padding:20px;
    max-width:30em; 

    /* Account Page */
    display: flex; /* Make form-window a flex container */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center children vertically */
}
.form-window form {
    width:100%;
}
.form-window h2 {
    text-align: center;
}
.form-window label {
    display: block;
    margin-bottom: 4px; 
    text-align: left;  
}
.form-window input[type="text"], input[type="email"], input[type="password"], button[type="submit"] {
    margin: 0 0 20px;
    padding: 0.6em;
    font-size: 1em;
    width: 100%;
}
.form-window input[type="checkbox"] {
    margin: 0 0 20px; 
    cursor: pointer;
}
.form-window .back {
    display:flex; 
    position:absolute; 
    margin: 1.4rem 25rem 0 0; 
    padding: 0.3em;
    font-size: 0.8em;
}
textarea {
    width:100%; 
    margin-bottom:10px;
}
.button-wrapper {
    display:flex;
    width: 100%; /* Ensure the div takes up the full width available */
    margin: 0 0 10px;
    gap: 10px; 
}

.button-wrapper button {
    width: 100%; /* Make the button fill the width of its container */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 0.6em; /* Ensure consistent padding with inputs */
    font-size:1em;
}
.art-window {
    margin: 0;
    width: 100%;
    max-height: 25em;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
.toggle-eye > i {
    position:absolute;
    margin-top:8px;
    margin-left:-35px;
    font-size:1.5em;
    cursor:pointer;
}

.date-options {margin-bottom:20px;}
select {
    padding: 0.6em;   
    border: 1px solid #ccc; 
    border-radius: 4px;   
    background-color: white; /* Ensures the background is white */
    font-size: 1em;          
    cursor: pointer;   
}
select[name="day"], select[name="month"] {
    width:4rem;
}
select[name="year"] {
    width:5rem;
}
select[name="cvname"] {
    width:100%;
}

.error-msg { 
    position:absolute;
    display:none;
    color:red;
    font-size:12px;
    margin: -15px 0 10px ;
    cursor:default;
}
#terms.invalid {
    outline: 2px solid red;  
}

/* User Interface */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: background-color 0.6s ease;
}
.accordion:hover, .active {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Account Screen */
.account-section-divider {
    margin:20px 0 10px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.495); /* Adjust color and thickness as needed */
}
input[type="file"] {
    margin-bottom:20px;
}
input[type="file"]::file-selector-button {
    /* display: none; */
    opacity:0;
    width:0;
    margin-top:4rem;
}
.avatar {
    width: 150px;
    height: 150px;
    background-color: gray; /* Placeholder color */
    border-radius: 50%; /* Creates a round shape */
    border:none;
}
.avatar:hover {
    background-color: #04AA6D;
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5), 0 0 10px 2px rgba(0, 255, 135, 1);
    cursor:pointer;
    /* animation: pulse 1s alternate infinite; */
}
.profile {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: left; */
    background:#f3f3f3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile Devices */
@media only screen and (max-width: 400px) {
    .skew { display:none; }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo { display:none; }
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: space-around;
        background-color: #333;
        padding: 10px 0;
        z-index:1;
    }
    nav a {
        padding: 15px 20px;
        margin: 2px;

        background-color: #444;
        color: white;
        border: none;

        font-size: 15px;
        cursor: pointer;
        flex: 1;
        text-align: center;
        border-radius:0;
    }
    nav a:focus {background-color: #367885;}
    a[data-section="login"] {border:none;}
    /* a[data-section="home"] {display:block;} */
    footer {
        margin-bottom:9em;
    }
}