body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

}
nav a:hover {
    background-color: #555;
}
.logo {
    text-align: center;
    margin-bottom: 10px;
}
.logo a {
    display: block;
}
.logo img {
    max-width: 10%;
    height: auto;
}
section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.error-msg { 
    position:relative;
    height:18px; 
    width:100%;
    border: 2px dotted green;
}
.form-window form {
    padding:0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid grey;
    border-radius:15px;
    width:23rem;
}
.form-window input, button, textarea {
    box-sizing: border-box;
    margin-top: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"], button, textarea {
    padding: 0.6em 0.6em;
    font-size: 1em;
    width: 100%;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
} .step.active {opacity: 1;} .step.finish {background-color: #04AA6D;}

.rotator {
    width:100%;
    display: flex;
    justify-content: space-between;
} #prev, #next { width:35%; } #next { float:right; }
input.invalid {background-color: #ffdddd;}
.hidden, .tab { display: none; }

@media only screen and (max-width: 500px) {
    .logo img {max-width:20%;}
    nav a {
        width: 43%; /* Make links take full width on smaller screens */
        box-sizing: border-box; /* Ensure padding is included in width */
        margin-bottom: 5px; /* Adjust spacing between links */
    }
    .form-window form {width:20rem;}
}